
.pemandangan{
    background-image: url(gedung.jpg);
    width: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    background-image: url(1-1.jpg);
    width: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}
.perjuangan{
    background-image: url(Afrika.jpg);
    width: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ul{
    background-image: url(Afrika.jpg);
    width: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}
